@using GoodsStore.Web.Framework.Interfaces.Model
@model GoodsStore.Web.Framework.Interfaces.Model.IRangeFilterParametr
@if (Model.Dimension != null)
{
    <h5>@Model.PublicName, @Model.Dimension:</h5>
}
else
{
    <h5>@Model.PublicName :</h5>
}

<div class="range-parametr" name="@Model.ItemPropertyName">
    <div class="row">
        <div class="col">
            <input class="form-control from-value" type="text" placeholder="Form: @Model.FromValue">
        </div>
        <div class="col">
            <input class="form-control to-value" type="text" placeholder="To: @Model.ToValue">
        </div>
    </div>
</div>
