@model GoodsStore.Web.ViewModel.Models.CompositModels.GoodsIndexModel

@{
    ViewBag.Title = $"Goods store";
    Layout = "_Layout";
}

@*<div class="row">
        <div class="col-3 parametr" id="parameters-column" data-type="@Model.TypeDiscriminator">
            @foreach (var modelParametr in Model.Parametrs)
            {
                <div class="card-body p-1">
                    <h5>@modelParametr.PublicName :</h5>

                    @await Component.InvokeAsync(modelParametr.ParametrKey.ToString(), new { parametr = modelParametr })

                </div>
            }
            <div class="btn btn-info w-100" id="floating-button">
                <span>Total : </span>
                <span class="total-count"></span>
            </div>
        </div>
        <div class="col-9 container-fluid" id="catalog-items-column">
            <div>
                @foreach (var catalogItemModel in Model.CatalogItemModels)
                {
                    <div class="card m-1 p-1 catalog-item">
                        <h5 class="card-header">@catalogItemModel.UnitName @catalogItemModel.Brand @catalogItemModel.Model</h5>
                        <div class="card-body row">
                            <img class="col-3" src="@catalogItemModel.PictureUri" alt="Card image cap">
                            <div class="col-6">
                                <h5 class="card-title">@string.Format("{0:C}", catalogItemModel.Price)</h5>
                                <p class="card-text">@catalogItemModel.Description</p>
                                <a href="#" class="btn btn-primary">Details</a>
                            </div>
                            <div class="col-3">Some shops</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>*@
<div id="content"></div>

@section Scripts
    {
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src="js/app.jsx"></script>
    <script src="js/Goods/Index.js"></script>
}



