@model GoodsStore.Web.ViewModel.Models.CompositModels.GoodsIndexModel

@{
    ViewBag.Title = $"Goods store";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-3">
        @foreach (var modelParametr in Model.Parametrs)
        {
            <div class="parametr">
                @await Component.InvokeAsync(modelParametr.ParametrKey.ToString(), new { parametr = modelParametr })
            </div>
        }
    </div>
    <div class="col-9">
        @foreach (var catalogItemModel in Model.CatalogItemModels)
        {
            <div class="card m-1 p-1">
                <h5 class="card-header">@catalogItemModel.UnitName @catalogItemModel.Brand @catalogItemModel.Model</h5>
                <div class="card-body row">
                    <img class="col-3" src="@catalogItemModel.PictureUri" alt="Card image cap">
                    <div class="col-6">
                        <h5 class="card-title">@catalogItemModel.Price</h5>
                        <p class="card-text">@catalogItemModel.Description</p>
                        <a href="#" class="btn btn-primary">Details</a>
                    </div>
                    <div class="col-3">Some shops</div>
                </div>
            </div>
        }
    </div>
</div>




