@model List<CategoryModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-3 list-group">
        <div class="list-group">
            @foreach (var categoryModel in Model)
            {
                <button type="button" class="list-group-item list-group-item-action category-model" data-category-id="@categoryModel.Id">
                    <h6>@categoryModel.CategoryName</h6>
                </button>
            }
        </div>
    </div>
    <div class="col-3">
        @foreach (var categoryModel in Model)
        {
            <div class="list-group m-1 category-model-types" data-category-id="@categoryModel.Id">
                <span href="#" class="list-group-item list-group-item-action active">@categoryModel.CategoryName</span>
                @foreach (var itemTypeModel in categoryModel.ItemTypeModels)
                {
                    <a asp-controller="Goods" asp-action="Index" asp-route-productTypeId="@itemTypeModel.Id" class="list-group-item list-group-item-action">
                        @itemTypeModel.ItemTypeName
                    </a>
                }
            </div>
        }
    </div>
    <div class="col-6">

    </div>
</div>

@section Scripts
    {
    <script src="js/Home/Index.js" asp-append-version="true"></script>
}

