@model ISelectableListParametr
<div class="selecteble-list-parametr" name="@Model.ItemPropertyName">
    @for (var i = 1; i <= Model.SelectListItems.Count; i++)
    {
        <div class="form-group form-check m-0">
            <input type="checkbox" class="form-check-input" id="@Model.ItemPropertyName-@i" value="@Model.SelectListItems[i-1].Value">
            <label class="form-check-label" for="@Model.ItemPropertyName-@i">@Model.SelectListItems[i-1].Text</label>
        </div>
    }
</div>
